# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Environments
.env
blogEnv/
venv/

# IDE and editor specific
.idea/
.vscode/